{% extends 'core/base_nav.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{% block basecss %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}">
<link rel="stylesheet" href="{% static 'account/css/profile.css' %}">
<style>
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label {
        margin-top: 10px;
    }

</style>
{% endblock basecss %}
{% block profile %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<h5 style="margin-left: 15px; margin-top: 10px;">Welcome , {{user.username}} update your profile </h5>
<div class="container-fluid">
    <div class="row">
        {% if users != None %}
        <div class="col-12 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">
                    List of Users and click to view profile of Users
                </div>
                <div class="card-body">
                    {% for user in users %}
                    <a href="{% url 'userdetail' user.id %}">{{user.username}}</a><br> <br>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-12 col-md-8 col-sm-12">
            <form method="post" action="">
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}
                {% endif %}
                <div class="profile-form">
                    <div class="card">
                        <div class="card-header">
                            Profile Update
                        </div>
                        <div class="card-body">
                            {% for fr in form %}
                            {{fr.label_tag}} {{fr}} {{fr.errors | striptags}} <br>
                            {% endfor %}
                            <input type="submit" value="Save" class="btn">
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock profile %}
